<div class="row content" ng-controller="ciudadesController">

    <div class="col-sm-2 sidenav text-left">
        <ul class="nav nav-pills nav-stacked">
            <li> <a href="#/ciudades/listado">Ver listado de ciudades</a></li>
            <li> <a href="#/ciudades/add">Agregar ciudad</a></li>
            <li> <a href="#/ciudades/delete">Borrar ciudad</a></li>
        </ul>

    </div>

    <div class="col-sm-8 text-left">
        <p>Ciudades</p>
    </div>

    <div class="col-sm-2 text-left">
    </div>
</div>