<!-- Begin page content -->
<div class="container">
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="#/atracciones" class="btn btn-primary" role="button">Volver al listado de atracciones</a>
            </div>
        </div>
        <h1>{{title}}</h1>

    </div>

    <div class="panel-custom" ng-show="ciudades.length == 0">
        <h3 class="subheader">No hay ciudades agregadas. Agrega una ciudad primero.</h3>
    </div>

    <div class="panel panel-default" ng-show="ciudades.length > 0">
        <div class="panel-body">
            <form ng-submit="submitAtraccion()">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre de atracción</label>
                    <div class="col-sm-10">
                        <input required type="text" ng-model="atraccion.nombre" class="form-control" placeholder="Nombre de la atracción">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Ciudad de la atracción</label>
                    <div class="col-sm-10">
                        <select class="form-control" required ng-model="atraccion.ciudadSelected" ng-options="ciudad.nombre for ciudad in ciudades">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Descripción de la atracción</label>
                    <div class="col-sm-10">
                        <textarea required class="form-control" ng-model="atraccion.descripcion" rows="5" style="resize: none;" id="descripcionAtraccion" placeholder="Descripción de la atracción"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Ubicación</label>
                    <div class="col-sm-10">
                        <div id="map" style="width: 100%; height: 500px; position: relative; overflow: hidden;">Error al cargar el mapa</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Imágenes</label>
                    <div class="col-sm-10">
                        <label class="btn btn-primary">
                            <input type="file" custom-on-change="uploadImageClick" style="display:none;" multiple="multiple">
                            Subir imagen
                        </label>

                        <div class="previewDeImagenes">
                            <div class="imagenPreview" ng-repeat="(id,atraccionImagen) in atraccion.imagenes">
                                <img ng-src="{{atraccionImagen.imgSrc}}" class="img-responsive"/>
                                <button class="btn btn-default btn-block">Borrar imagen</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Costo</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input ng-model="atraccion.monedaCosto" list="monedas">
                                    <datalist id="monedas">
                                        <option value="{{moneda}}" ng-repeat="moneda in atraccion.monedas">
                                    </datalist>
                            </span>
                            <!--
                            <span class="input-group-addon" id="basic-addon1">
                                <input ng-model="atraccion.monedaCosto" list="monedas">
                                    <datalist id="monedas">
                                        <option value="{{moneda}}" ng-repeat="moneda in atraccion.monedas">
                                    </datalist>
                            </span>
                            -->
                            <input required step="any" min="0" type="number" ng-model="atraccion.montoCosto" class="form-control" placeholder="Costo de la atracción">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Hora de apertura</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" ng-model="atraccion.horaApertura">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Hora de cierre</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" ng-model="atraccion.horaCierre">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Duración promedio</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input ng-model="atraccion.duracion" required type="number" min="1" class="form-control" placeholder="Duración promedio de la atracción">
                            <span class="input-group-addon" id="basic-addon2">minutos</span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Clasificación</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="atraccion.clasificacionSelected" ng-options="clasificacion for clasificacion in atraccion.clasificaciones">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <button type="submit" class="btn btn-primary center-block">{{submitButton}}</button>
                </div>
            </form>

        </div>
    </div>
</div>