<div class="modal-header">
    <h3>Atención!</h3>
</div>

<div class="modal-body">
    <p>La atracción antes era recorrible. Acabas de marcar que la misma ya no lo sea recorrible.</p>
    <p>Esto significa que se borrará los puntos de interes y el plano.</p>
    <p>¿Estás seguro?</p>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="okConfirm()">Ok</button>
    <button class="btn btn-warning" type="button" ng-click="cancelConfirm()">Cancelar</button>
</div>