<div>
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="#/atracciones/add" class="btn btn-primary" role="button">Agregar atracción</a>
            </div>
        </div>
        <h1>Listado de atracciones</h1>

    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="buscadorAtracciones">
                <input ng-model="search.nombre" type="text" class="form-control formularioBuscar" placeholder="Buscar...">
            </form>
        </div>
    </div>

    <div class="panel-custom" ng-show="atracciones.length == 0">
        <h3 class="subheader">No hay atracciones para mostrar</h3>
    </div>

    <div class="panel panel-default" ng-show="atracciones.length > 0" ng-repeat="(id,atraccion) in atracciones | filter:search">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <img ng-src="{{atraccion.preview}}" alt="" class="img-responsive"/>
                    <!-- <img ng-src="{{'/api/ciudad/'+atraccion.id_ciudad+'/imagen'}}" alt="" class="img-responsive"/> -->
                </div>
                <div class="col-xs-6 col-md-9">
                    <h3>{{atraccion.nombre}}</h3>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Ubicación</label>
                        <div class="col-sm-10">
                            {{atraccion.latitud}},{{atraccion.longitud}}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Ciudad</label>
                        <div class="col-sm-10">
                            {{getNombreCiudad(atraccion.id_ciudad)}}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Idiomas</label>
                        <div class="col-sm-10">
                            <span class="label label-info" style="margin-right:3px;" ng-repeat="idioma in atraccion.idiomasCargados">{{idioma.nombre}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group" role="group" aria-label="edit-remove">
                <a href="#/atracciones/edit/{{atraccion._id}}" class="btn btn-default" role="button">Editar</a>
                <button type="button" class="btn btn-default" ng-click="deleteAtraccion(atraccion._id)">Borrar</button>
            </div>
        </div>
    </div>

</div>