<div class='page-header'>
    <div class="row row-eq-height">
        <div class="col-sm-8">
            <h1>{{title}}</h1>
        </div>
        <div class="col-sm-4">
            <div class='btn-toolbar pull-right button-wrapper'>
                <div class='btn-group'>
                    <a href="#/recorridos" class="btn btn-primary" role="button">Volver al listado de recorridos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Error header -->
<div id="errorContainer">

</div>
<div id="infoContainer">

</div>

<div class="panel panel-default">
    <div class="panel-body">
        <form ng-submit="submitRecorrido()">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nombre del recorrido</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="recorrido.nombre" class="form-control" placeholder="Nombre del recorrido">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">
                    <label class="col-form-label">Descripción</label>
                    <select class="form-control"
                            ng-model="idiomaSelected"
                            ng-options="idioma.nombre for idioma in idiomas"></select>
                </div>

                <div class="col-sm-10">
                    <textarea class="form-control"  rows="5" style="resize: none;" placeholder="Descripción del recorrido"
                              ng-model="recorrido.descripcion[idiomaSelected.code]"
                    ></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ciudad</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-disabled="disabled" custom-on-change="cambioDeCiudad" ng-model="recorrido.ciudad" ng-options="ciudad.nombre for ciudad in ciudades">
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Atracciones</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select class="form-control" ng-model="atraccionSelected" ng-options="atraccion.nombre for atraccion in atracciones">
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="agregarAtraccion()">Agregar</button>
                        </span>
                    </div>

                    <ul class="list-group" style="margin-top:1%">
                        <li class="list-group-item clearfix" ng-repeat="(id,atraccion) in recorrido.listadoAtracciones">
                            {{atraccion.nombre}}
                            <span class="pull-right">
                                <span class="btn btn-xs btn-default" ng-click="listadoMoveUp(id,remove)">
                                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                </span>
                                <span class="btn btn-xs btn-default" ng-click="listadoMoveDown(id,remove)">
                                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                </span>
                                <span class="btn btn-xs btn-default" ng-click="listadoRemove(id,atraccion)">
                                    <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </span>
                            </span>
                        </li>
                    </ul>


                </div>
            </div>

            <!-- Error header -->
            <div id="error-en-formulario">
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary center-block">{{submit}}</button>
            </div>
        </form>
    </div>
</div>