<div class="container">
    <h1 class="text-center">Bienvenidos</h1>
    <div id="reporte1" ng-controller="Report1Controller">
        <div class="row">
            <h3>Atracciones con más favoritos en los últimos 12 meses</h3>
            <div ng-show="mostrarMsg" style="margin-top:50px;margin-bottom:50px;" class="text-center">
                <h4>{{msg}}</h4>
            </div>
            <div id="graficoReporte1">
            </div>
        </div>
    </div>

    <div id="reporte2" ng-controller="Report2Controller">
        <div class="form-group row">
            <h3>Usuarios únicos globales</h3>
            <div class="col-md-6">
                Fecha inicial
                <span class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fechaInicio"
                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                           current-text="Hoy" close-text="Cerrar" clear-text="Borrar" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </span>
            </div>

            <div class="col-md-6">
                Fecha final
                <span class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fechaFin"
                           is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
                           current-text="Hoy" close-text="Cerrar" clear-text="Borrar" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <span class="nput-group">
                <button type="button" ng-click="cargarGrafico2()" class="btn btn-primary">Cargar reporte</button>
            </span>

        </div>

        <div class="row">
            <div id="graficoReporte2" style="overflow-x:auto;">

            </div>
        </div>
    </div>

    <div id="reporte3" ng-controller="Report3Controller">
        <div class="form-group row">
            <h3>Usuarios únicos por pais</h3>
            <div class="col-md-6">
                Fecha inicial
                <span class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fechaInicio"
                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                           current-text="Hoy" close-text="Cerrar" clear-text="Borrar" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </span>
            </div>

            <div class="col-md-6">
                Fecha final
                <span class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fechaFin"
                           is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
                           current-text="Hoy" close-text="Cerrar" clear-text="Borrar" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <span class="nput-group">
                <button type="button" ng-click="cargarGrafico3()" class="btn btn-primary">Cargar reporte</button>
            </span>

        </div>

        <div ng-show="mostrarMsg" style="margin-top:50px;margin-bottom:50px;" class="text-center">
            <h4>{{msg}}</h4>
        </div>

        <div class="row" ng-show="mostrarGrafico">
            <div class="col-sm-6">
                <div class="text-center" style="height:50px">
                    <h3>Distribución por pais</h3>
                    <p>Click en un pais para ver más detalles</p>
                </div>
                <div id="graficoReporte3">
                </div>
            </div>
            <div class="col-sm-6">
                <div ng-show="mostrarPais">
                    <div class="text-center" style="height: 50px;">
                        <h3>{{pais}}</h3>
                        <p>Cantidad:{{cantidad}} </p>
                    </div>
                    <div id="graficoReporte3Pais">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
